/*Global css file*/

/*Constant css for all website*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0%;
    padding: 0%;
    background-color: #f9fbf6;
}

/*Global constant css classes*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/*Ends*/
/*Property Vise Css*/
.list_type_none {
    list-style-type: none;
}
.space_evenly{
    justify-content: space-evenly;
}
h1{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: Verdana;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: Verdana;
}
/*Ends*/

/*Main header*/

/*Left Nav Fixed Logo and css*/
.main_parent_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f9fbf6;
    padding: 10px;
    height: 120px;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
}

.left_most_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    background-color: #f9fbf6;
    padding: 10px;
    padding-top: 0px !important;
    height: 100px;
}

.IRCTC_main_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}

/*Ends*/

/*Right most nav css starts*/

.right_most_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    background-color: #f9fbf6;
    padding: 10px;
    height: 100px;
}

.nav_manu_icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}

/*Center Header Constant Css*/
.center_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #f9fbf6;
    padding: 10px;
    padding-top: 0px !important;
    height: 100px;
}
.nav_main_menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #f9fbf6;
    padding: 10px;
    padding-top: 0px !important;
    height: 100px;
}
.nav_manu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.nav_manu_btn_1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    background-color: #213d77;
    border:1px solid #000000;
    color: white;
    border-radius: 7px;
}
.nav_manu_btn_2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    background-color: #fefefe;
    color: rgb(0, 0, 0);
    border:1px solid #000000;
    border-radius: 7px;
}
/*Ends*/

/*Ends*/

/*Main container css starts here*/

/* Overlay image CSS */
.overlay_main_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f9fbf6;
    padding-top: 0px !important;
    position: relative;
    z-index: 1;
    margin-top: 120px;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.background_overlay_img_parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background_overlay_img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 1920px !important;
}
.background_overlay_img img {
    max-width: 100%; /* Ensures the image doesn't exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image caused by inline-block behavior */
}

.back_ground_img_overlay_content_barriar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    z-index: 2;
}
.overlay_content_text_position{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.back_ground_img_overlay_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color: #dfe0e2; 
    opacity: 1; 
    z-index: 3; 
    font-size: 1.5rem;
    text-align: center; 
    top: 100px;
    left: 500px;
}
.index_pnr_form_parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    z-index: 4;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.index_pnr_form_main_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 500px;
    height: 500px;
    margin-left:100px;
    background-color: #f9fbf6   ;
}
.i_p_f_main_header_btns{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    width:100%;
}

.i_P_f_btn
{
    display: flex;
    height: 50px;
    width: 50%;
}
.i_P_f_btn button{
    padding: 10px;
    width: 100%;
    background-color: #213d77;
    color: whitesmoke;
    border: none;
}
.pnr_form_heading{
    color: #213d77;
}
.index_pnr_form_main_content .row{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.station_input_field_row_1_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.station_input_field_row_1_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.station_input_field_row_2_1{
 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;   
}
.all_classes_select{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 40px;
    padding: 10px;  
    margin-right: 10px;
    margin: 10px;
}
.mode{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 33px;
    padding: 7px;  
    margin-left:10px;
    margin: 10px;
}